
body {
    font-family: sans-serif;
    padding: 20px;
    background:#eed2e1;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #6b2063;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

form button {
    padding: 10px;
    font-size: 16px;
    background-color: #97458e;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
form button:hover{
    background-color: #6b2063;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #eeb0d3;
    padding: 20px;
    color:#6b2063;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 10px;
}

li h3 {
    margin-top: 0;
}

.delete-btn {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #97458e;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.delete-btn:hover{
    background-color: #6b2063;
}